allow hal_sensors_default app_efs_file:dir search;
allow hal_sensors_default app_efs_file:file { open read };
allow hal_sensors_default iio_device:chr_file { open read };
allow hal_sensors_default sensor_device:chr_file { ioctl open read write };
allow hal_sensors_default sysfs_input:dir { open read search };
allow hal_sensors_default sysfs_sensors:dir search;
allow hal_sensors_default sysfs_sensors:file { getattr open read write };

allow hal_sensors_default sysfs_iio:dir { open read search };
allow hal_sensors_default sysfs_iio:file { getattr open read write };
allow hal_sensors_default sysfs_iio:lnk_file read;

allow hal_sensors_default efs_file:dir search;

allow hal_sensors_default baro_delta_factoryapp_efs_file:file { open read };

allow hal_sensors_default sensor_factoryapp_efs_file:file { open read };
