vndbinder_use(hal_gnss_default)

# Allow gnss to access the gpsd data files
allow hal_gnss_default gps_data_file:dir w_dir_perms;
allow hal_gnss_default gps_data_file:fifo_file create_file_perms;

allow hal_gnss_default gps_vendor_file:dir search;

allow hal_gnss_default gps_vendor_file:dir write;
allow hal_gnss_default gps_vendor_file:fifo_file write;
allow hal_gnss_default hal_sec_gnss_hwservice:hwservice_manager { add find };
allow hal_gnss_default gps_vendor_file:dir add_name;
allow hal_gnss_default gps_vendor_file:fifo_file open;
allow hal_gnss_default gps_vendor_file:fifo_file { create read setattr };

