type hal_radio_configsvc_default, domain;
type hal_radio_configsvc_default_exec, exec_type, vendor_file_type, file_type;

allow hal_radio_configsvc_default hwservicemanager_prop:file open;
allow hal_radio_configsvc_default hwservicemanager_prop:file read;
allow hal_radio_configsvc_default hwservicemanager_prop:file getattr;
allow hal_radio_configsvc_default hwservicemanager:binder call;
allow hal_radio_configsvc_default hwservicemanager:binder transfer;
allow hal_radio_configsvc_default hal_sec_radio_configsvc_hwservice:hwservice_manager add;
allow hal_radio_configsvc_default hidl_base_hwservice:hwservice_manager add;

init_daemon_domain(hal_radio_configsvc_default);

