# Mount system
allow init system_file:file mounton;

# Mount debugfs on /sys/kernel/debug.
allow init debugfs:dir mounton;
allow init debugfs:file write;

# Mount EFS on /efs
allow init efs_file:dir  mounton;

# Mount CPEFS on /cpefs
allow init sec_efs_file:dir mounton;

# Allow init to bind mount over system files
allow init system_file:file mounton;

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file setattr;
allow init tmpfs:lnk_file create_file_perms;

# /sys/class/power_supply/battery and /sys/class/android_usb/android0
allow init sysfs_usb_supply:file { rw_file_perms setattr };

# /data
allow init sdcardd_exec:file r_file_perms;

# sysfs ion device
allow init sysfs_ion:file setattr;

# sysfs usb device
allow init sysfs_android_usb:file setattr;

# read/chown mDNIE symlinks
allow init sysfs_mdnie:lnk_file { r_file_perms setattr };
allow init sysfs_mdnie:file rw_file_perms;

# read/chown camera firmware
allow init sysfs_camera:file { relabelto setattr };
allow init sysfs_camera:filesystem associate;

# WiFi firmware permissions
allow init sysfs_wifi:file setattr;

# Input devices
allow init sysfs_input:file { rw_file_perms setattr };

# BT permissions
allow init sysfs_bluetooth_writable:file setattr;

# GPS permissions
allow init sysfs_gps:lnk_file read;
allow init sysfs_gps:file { rw_file_perms setattr };
allow init gps_data_file:fifo_file write;
allow init gps_data_file:file lock;
allow init gps_device:chr_file { open read write };
allow init gps_vendor_file:fifo_file write;
allow init gps_vendor_file:file lock;
allow init gps_device:chr_file ioctl;

# CPU permissions
allow init sysfs_devices_system_cpu:file rw_file_perms;

allow init tee_device:chr_file { write ioctl };

# umts permissions
allow init mif_device:chr_file rw_file_perms;

# Block device sysfs
allow init sysfs_block:file rw_file_perms;

# Audio Jack
allow init sysfs_jack:file setattr;

unix_socket_connect(init, property, rild)

# Allow access to /proc/device-tree nodes
r_dir_file(init, proc_dt_firmware)

# NFC device
allow init nfc_device:chr_file { open read write };
allow init nfc_device:chr_file ioctl;

allow init efs_block_device:blk_file relabelto;

# Sysfs
allow init sysfs_mmc:file { w_file_perms setattr };
allow init sysfs_net:file rw_file_perms;
allow init sysfs_graphics:file { rw_file_perms setattr };
allow init sysfs_light:file { rw_file_perms setattr };
allow init sysfs_light:lnk_file { rw_file_perms setattr };
allow init sysfs_mdnie:file setattr;
allow init sysfs_sensors:file { rw_file_perms setattr };
allow init sysfs_sensors:lnk_file read;
allow init sysfs_multipdp:file setattr;
allow init sysfs_modem:file { setattr open write };
allow init sysfs_wake_lock:file { append open };
allow init sysfs_lhd:file { open read write };
allow init sysfs_dt2w:file { setattr open read write };
allow init sysfs_sec_tsp:file setattr;
allow init sysfs_sec_tsp:lnk_file read;
allow init sysfs_batteryinfo:file { open setattr write };
allow init sysfs_sec_barcode_emul:file setattr;
allow init sysfs_sec_key:file { open setattr write };
allow init sysfs_sec_led:file setattr;
allow init sysfs_sec_touchkey:file setattr;
allow init sysfs_sec_touchkey:lnk_file read;
allow init sysfs_sec_gps:lnk_file read;
allow init sysfs_socinfo:file { open read };
allow init sysfs_devfreq:file setattr;
allow init sysfs_fingerprint:file setattr;
allow init sysfs_usb_otg:file setattr;
allow init sysfs_mali:file setattr;
allow init sysfs_rtc:file setattr;
allow init sysfs_sec_secureos:file setattr;
allow init sysfs_sec_switch:file setattr;
allow init sysfs_rtc:lnk_file read;
allow init sysfs_sec_secureos:file setattr;
allow init sysfs_codec:file setattr;
allow init sysfs_sec_mfd:file setattr;
allow init sysfs_camera:lnk_file read;
allow init sysfs_dsm:lnk_file read;
allow init sysfs_dsm:file setattr;
allow init sysfs_input:lnk_file read;
allow init sysfs_hmt:file setattr;
allow init sysfs_bluetooth_writable:file { setattr open read write };
allow init sysfs_sec_sdcard:file setattr;
allow init sysfs_sec_sdinfo:file setattr;
allow init sysfs_sec_sensorhub:file setattr;
allow init sysfs_mst:file setattr;
allow init sysfs_scsi_host:dir relabelfrom;
allow init sysfs_scsi_host:file { relabelfrom setattr };
allow init sysfs_sec_sddata:file setattr;
allow init sysfs_vmscan:file setattr;
allow init sysfs_pcie:file setattr;

# Proc files
allow init proc_reset_reason:file { rw_file_perms setattr };
allow init proc_vm:file rw_file_perms;
allow init proc_simslot_count:file rw_file_perms;
allow init proc_sec:file { rw_file_perms setattr };
allow init proc_audit:file setattr;
allow init proc_bluetooth:file setattr;
allow init proc_last_kmsg:file { r_file_perms setattr };

# Sockets
allow init socket_device:sock_file { read write getattr setattr create unlink };
# Below is from audi2allow but I am not sure
allow init node:tcp_socket node_bind;
allow init port:tcp_socket name_bind;
allow init self:netlink_kobject_uevent_socket { bind create setopt };
allow init self:tcp_socket { bind create };
allow init dnsproxyd_socket:sock_file write;
allow init fwmarkd_socket:sock_file write;
allow init netd:unix_stream_socket connectto;
allow init self:tcp_socket { getopt read };
allow init port:tcp_socket name_connect;
allow init self:tcp_socket connect;
allow init self:tcp_socket write;

# Below is from audi2allow but I am not sure
allow init bbd_device:chr_file { getattr ioctl open read write };
allow init radio_block_device:blk_file relabelto;
allow init fwk_sensor_hwservice:hwservice_manager find;
allow init hidl_base_hwservice:hwservice_manager add;

allow init hal_sec_nfc_hwservice:hwservice_manager { add find };
allow init hal_sec_radio_configsvc_hwservice:hwservice_manager add;
allow init hal_sec_gnss_hwservice:hwservice_manager { add find };
allow init hal_sec_radio_hwservice:hwservice_manager find;

