# Camera
type vendor_camera_prop, property_type;

# CP-Boot Daemon
type cpboot-daemon_prop, property_type;

# Fastcharge HAL
type sec_fastcharge_prop, property_type;

# HWC
type vendor_hwc_prop, property_type;

# Mobicore
type vendor_mobicoredaemon_prop, property_type;

# NFC
type vendor_nfc_prop, property_type;

# Radio
type vendor_radio_prop, property_type;
